@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto+Slab:wght@400;700&display=swap');

/* Reset Styles */
body {
  margin: 0;
   -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f4f4f4;
  color: #333;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.app-container {
  font-style: oblique;
  background-color: var(--background-color, #f4f4f4);
  color: var(--text-color, #333);
  margin: 0;
  padding: 0;
}
